{% extends 'base.html' %}
{% block content %}

<link href="{{ url_for('jsnapy_flask.static', filename='css/jsnapy_flask.css') }}" rel="stylesheet">
<script src="{{ url_for('jsnapy_flask.static', filename='js/jsnapy_flask.js') }}"></script>

<div class="row">
    <div class="col-md-3" align="left">
        <img id="OSImg1" alt="vendor" src="{{ url_for('static', filename='images/junos.jpg') }}" class="img-circle" height="200" width="300">
    </div>
    
    <div class="col-md-6">
        <form data-toggle="validator" role="form" method="post" onsubmit="myFunction()">
            <div class="form-group" >
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            </div>
            <div class="form-group">
                <label for="Hostname">Router Hostname</label>
                {{ form.hostname(class="form-control input_fields", placeholder="Hostname") }}
            </div>

            <div class="form-group" id="toggle-container-div">
                <div class="btn-group btn-toggle" id="toggle-div">
                    <button class="btn btn-primary active" id="pre_toggle" type="button">Pre</button>
                    <button class="btn btn-default" id="post_toggle" type="button">Post</button>
                </div>
                <div id="settings-icon-div">
                    <button type="button" class="btn btn-default" id="settings">
                        <span class="glyphicon glyphicon-cog"></span>
                    </button>
                </div>
            </div>

            <!-------------------->
            <!--  SETTINGS DIV  -->
            <!-------------------->
            <div id="settings-div">
                <label for="username">Router Credentials</label>
                <div id="settings_login">
                    {{ form.username(class="form-control input_fields settings_input1", placeholder="Username") }}
                    {{ form.password(class="form-control input_fields settings_input2", placeholder="Password") }}
                </div>
                <br><br><br>
                <div id="settings_location">
                    <label for="test_location">Test Files Location</label>
                    <br>
                    {{ form.test_location(class="form-control input_fields test_location", placeholder="/etc/jsnapy/testfiles/") }}
                </div>
                <br>
                <div id="settings_tests">
                    <label for="test_files">Test Files</label>
                    {{ form.test_files(class="form-control") }}
                </div>
                <br>
                <div id="settings_port">
                    <label for="port_num">Port Number</label>
                    {{ form.port_num(class="form-control") }}
                </div>
                <br>
                <div id="settings_update">
                    <button type="button" class="btn btn-primary" id="update_settings">Update</button>
                </div>
            </div>

            <div class="form-group">
                <input type="hidden" name="snap" id="snap" value="pre" />
            </div>

            <div class="form-group">
                <button class="btn btn-primary btn-large" id="submit_form" name="submit_form" type="button">
                    Submit
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

<br><br><br><br>

<div class="row">
    <div class="col-md-12">
        <div id="output_div">
        </div>
    </div>
</div>

<br><br><p></p><br><br>

<script>
// Expand test results on click (pass/fail/skip)
$('#output_div').on('click', '.pass-main', function(){
     $('.pass-child', this).toggle(250);
});
$('#output_div').on('click', '.fail-main', function(){
     $('.fail-child', this).toggle(250);
});
$('#output_div').on('click', '.skip-main', function(){
     $('.skip-child', this).toggle(250);
});
</script>

{% endblock %}
