.pass-main {
    background:#90EE90;
    //background: #00e600;
    border:1px solid black;
    border-radius: 10px;
    padding: 15px; 
}

.fail-main {
    background: #ff9999;
    border:1px solid black;
    border-radius: 10px;
    padding: 15px; 
}

.skip-main {
    background:#e6e6e6;
    border:1px solid black;
    border-radius: 10px;
    padding: 15px; 
}

.glyphicon {
    font-size: 20px;
    display: inline-block;
}

#toggle-container-div {
    width: 100%;
    overflow: hidden;
}

#toggle-div {
    float: left;
    width: 110px;
}

#settings-icon-div {
    float: right;
    margin-right: 65%;
}

#settings-div {
    background:#dddddd;
    border:1px solid black;
    border-radius: 10px;
    padding: 15px;
    width: 80%;
}

.settings_input1 {
    width: 50%;
    float: left;
}

.settings_input2 {
    float: right;
    width: 50%;
}

.test_location {
    width: 90%;
}